#colorBar {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 150px;
    float: left;
    background-color: darkgray;
    padding: 5px;
}

.color-box{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

}

button {
    grid-column: 1/ 4;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;

}

#board{
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    height: 100vh;
}

.box{
    border: 1px solid lightgray;
    height: 11.4px;
}