.container {
    height: 1000px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(11, auto);
    gap: 20px;
    text-align: center;
}

.item-1 {
    border: 2px solid lightblue;
    background-color: lightblue;
    grid-column: 1/ span 3;

}

.item-2 {
    border: 2px solid plum;
    background-color: plum;
    grid-column: 1/ span 1;
    grid-row: 2/ span 3;
}

.item-3 {
    border: 2px solid rgb(249, 191, 0);
    background-color: rgb(249, 191, 0);
    grid-column: 2/ span 2;
    grid-row: 2/ span 5;
}

.item-4 {
    border: 2px solid rgb(81, 123, 51);
    background-color: rgb(81, 123, 51);
    grid-row: 5/ span 5;
}

.item-5 {
    border: 2px solid rgb(95, 93, 93);
    background-color: rgb(95, 93, 93);
    grid-column: 2/ span 2;
    grid-row: 7/ span 3;
}

.item-6 {
    border: 2px solid green;
    background-color: green;
    grid-column: 1/ span 2;
    grid-row: 10/ span 2;
}

.item-7 {
    border: 2px solid pink;
    background-color: pink;
    grid-column: 3/ span 1;
    grid-row: 10/ span 2;
}

.item-8 {
    border: 2px solid orangered;
    background-color: orangered;
    grid-column: 1/ span 3;
}